*
{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
a{text-decoration: none; color: white; }
body
{
	background: linear-gradient(120deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
 	text-align: center;
    font-family: "Open Sans", "Helvetica Neue", 
    Helvetica, Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
@keyframes gradient
{
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

a:visited
{
color: white;
}

.header 
{
/*	background-image: linear-gradient(150deg, #155799, #159957);*/
	background: linear-gradient(120deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	color: #fff;
	width: auto;
	height: 150px;	
	border:5px solid white;
	position: relative;
	top: 10px;
}
h1
{
  position: relative;
  top: 20px;
  font-size: 3em;
}
#h2{opacity: 0.7;}

.menu-1, .menu-2, .menu-3
{
	width: 200px;
	height: 200px;
	padding: 10px;
	background-image: linear-gradient(150deg, darkorange, yellow);
	border-left: 10px solid black;
	border-radius: 10px;
	position: relative;
	margin:20px;
	display: inline-block;
}

#btn
{
	color: white;
	text-align: center;
	position: relative;
	top: 33.33%;
	width: 150px;
	background-image: linear-gradient(150deg, red, orange);
	transition: width 1s ;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 10px;
}

#btn:hover
{
	cursor: pointer;
	background-image: linear-gradient(120deg, red, orange);
	width: 180px;
}
#btn:active
{
	color: lightblue;
}

.footer
{
    margin:5px;
    color: white;
    background-image: linear-gradient(120deg, purple, red, purple);
    position: relative;
    top: 220px;
}*/*/*/